body {
	font: normal 10px arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}

table {
	border-spacing: 0px;
	border: 1px solid black;
}

th {
	font: bold 9px arial, helvetica, sans-serif;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	letter-spacing: 2px;
	padding: 6px 12px;
}

td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 6px 12px;
}
